:root {
  --color-brand-color: #9333ea;
  --color-brand-color-light: #a855f7;
  --color-brand-color-lighter: #c084fc;
  --color-text-color-primary: #f9fafb;
  --color-text-color-secondary: #e4e4e7;
  --color-close-button-color: #a1a1aa;
  --color-stroke-color: #3f3f46;
  --color-surface-color: #18181b;
  --color-background-color: #09090b;

  font-family: Inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background: var(--color-background-color);
  color: var(--color-text-color-primary);
}

#cart {
  height: 100vh;
  max-width: 428px;
  margin-left: auto;

  background-color: var(--color-surface-color);

  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

/* HEADER */
.cart__header {
  font-size: 20px;
  color: var(--color-text-color-secondary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--color-stroke-color);

  padding: 24px 32px;
}

/* MAIN */
.cart__main {
  padding: 32px;

  display: grid;
  place-content: start;
  gap: 48px;

  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-stroke-color);
  border-radius: 8px;
}
::-webkit-scrollbar-track{
  background-color: var(--color-background-color);

}

.item {
  display: flex;
  gap: 24px;
}

.item img {
  width: 104px;
  height: 104px;
  object-fit: cover;
  border-radius: 8px;
}

.item .title {
  color: var(--color-text-color-secondary);
}

.price {
  font-family: 700;
}

.price-qty {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qty {
  display: flex;
  align-items: center;
}

.qty span, .qty button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.qty button {
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
  color: var(--color-brand-color-light);
  font-size: 16px;
}

.qty button.add {
  border-color: var(--color-brand-color-light);
}
.qty button.add:hover {
  background-color: var(--color-brand-color-light);
  color: var(--color-text-color-primary);
}
.qty button.sub {
  border-color: var(--color-stroke-color);
}
.qty button.sub:hover {
  color: var(--color-text-color-primary);
  border-color: var(--color-brand-color-light);
}

/* FOOTER */
.cart__footer {
  padding: 32px;
  border-top: 1px solid var(--color-stroke-color);
}

.cart__total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart__cupom {
  margin-top: 16px;

  display: flex;
  justify-content: flex-end;

}
.cart__cupom button{
  color: var(--color-brand-color-light);

  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  background: none;
}
.cart__cupom button:hover{
  opacity: 0.9;
}

.cart__cupom i {
  font-size: 20px;
}

.cart__btn-finally {
  margin-top: 32px;
  background: var(--color-brand-color);
  color: var(--color-text-color-primary);

  border: none;
  font-size: 20px;
  padding-block: 20px;
  width: 100%;
  border-radius: 8px;
}
.cart__btn-finally:hover {
  background: var(--color-brand-color-light);
}